 body {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
 .instagram h1 { 
    color: white;
    text-align: center;
 }
 .instagram p {
    color: white;
    text-align: center;
 }
 h1 {
    color: white;
    font-size: 20px;
 }