<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include ('asset/head.html') %>
</head>

<body>
    <%- include ('asset/nav.html') %>

    <br>
    <div class="instagram">
            <h1>Que es instagram? </h1>
            <p>Instagram es una red social y aplicación. Su función es subir fotos y vídeos. Está disponible para dispositivos Android e iOS. Sus usuarios también pueden aplicar efectos fotográficos como filtros, marcos, similitudes térmicas, áreas subyacentes en las bases cóncavas, colores retro y posteriormente compartir las fotografías en la misma red social o en otras como Facebook, Tumblr, Flickr y Twitter.  </p>        
    </div>
    <main id="instagram-logo">
        <center>
                <img src="https://en.instagram-brand.com/wp-content/uploads/2016/11/Glyph-Icon-hero.png" width="500" height="300" alt="">
        </center>
    </main>
    </body>

</html>